@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,400;0,700;0,900;1,300&family=Roboto:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#colorlogo {
  font-size: 30px;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  color: #FF8066;
}

.img-banner {
  height: 400px;
  background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
  background-size: cover;
  filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
  background-position: center;
}

footer {
  background-color: #54525e;
  color: white;
  font-weight: 700;
}

.text-footer {
  padding: 20px;
  font-family: "poppins", sans-serif;
}

.menu {
  height: 50px;
  margin: 0;
  padding: 0;
}

.redes {
  text-align: center;
  padding: 15px;
}

.redes a {
  text-decoration: none;
  text-align: center;
  color: #FF8066;
  font-size: 33px;
  letter-spacing: 50px;
}

.tamaño-main-index {
  height: 600px;
}

.contenedor-call {
  padding: 50px 120px 120px 120px;
}

.call-to-action-a {
  text-transform: capi;
  font-family: Poppins;
  font-weight: bold;
  font-size: 52px;
  text-align: center;
  line-height: 105%; /* establezco interlineado */
}

.call-to-action-a p {
  text-align: center;
}

.call-to-action-b {
  text-decoration: none;
  color: #101010;
  padding: 15px;
  font-family: poppins;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  background-color: white;
}

.call-to-action-b:hover {
  background-color: #FF8066;
  color: white;
  transition: color 0.3s;
}

#contenedor-2 {
  background-color: #FF8066 !important;
}

.card-text {
  font-family: "poppins", sans-serif;
}

.card-title {
  font-family: "poppins", sans-serif;
  font-weight: 600;
}

#container-fluid-tienda {
  background-color: #FF8066;
}

#title-tienda {
  color: white;
  font-family: poppins;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 35px;
  /* text-shadow: 1px 0px 12px; */
}

.card {
  margin: 20px;
  box-shadow: 10px 4px 5px rgba(72, 82, 153, 0.2666666667); /*para sombra  caja cards*/
  width: 280px;
}

.orden-fila {
  justify-content: center;
}

.img-css-dos {
  height: 326px;
}

.btn-primary { /*modificación sobre class btn-primary Bts*/
  background-color: #FF8066;
  border: none;
}

.section-eventos {
  background-color: #FF8066;
  height: 50vh;
}

#title-eventos {
  font-family: "poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 35px;
  /* text-shadow: 1px 0px 12px; */
}

.list-group-item {
  text-align: center;
}

/*transition*/
.evento1:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/da-vinci.jpg);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento2:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/divina-comedia.webp);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento3:hover {
  height: 250px;
  transition: 3s;
  background-image: url(..//img/el-eternauta.jpg);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento4:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/mas-alla-del-bien-y-del-mal-friedrich-nietzsche-.jpg);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento5:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/escarlata-sherlock.webp);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento6:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/morel-invention.png);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento7:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/pesadillas.jpg);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.evento8:hover {
  height: 250px;
  transition: 3s;
  background-image: url(../img/autonautas-cosmopista_.jpg);
  background-size: cover;
  font-weight: bold;
  font-size: 18px;
  font-family: "poppins", sans-serif;
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
}

.mapa {
  background-color: #FF8066;
  text-align: center;
  padding: 20px;
}

.main-blog {
  background-color: #FF8066;
}

#contenedor-blog {
  background-color: #54525e !important;
}

.orden-fila {
  justify-content: center;
}

.caja-blog {
  width: 1000px;
  text-align: justify;
  background-color: white;
  box-shadow: 2px 2px 30px;
}

.card-img-top {
  background-image: url(../img/borges.jpeg);
}

#title-blog {
  background-color: #FF8066;
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 35px;
  /* text-shadow: 1px 0px 12px; */
}

.card-title-blog {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  text-align: center !important;
  padding: 25px;
}

.card-text {
  margin-top: 2%;
  font-family: "poppins", sans-serif;
  font-weight: 100;
}

/* ------------------------------- MEDIA QUERIES ----------------------------------------*/
/* Ejecutar estas condiciones CSS para resoluciones de 0px hasta 480*/
@media screen and (max-width: 480px) {
  /* "logo" */
  #colorlogo {
    font-size: px;
    font-weight: 900;
    font-family: "poppins", sans-serif;
    color: #FF8066;
  }
  .img-banner {
    height: 0;
    background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
    background-size: cover;
    filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
    background-position: center;
  }
  /* CÓDIGO call to action  */
  .contenedor-call {
    padding: 20px;
  }
  .call-to-action-a {
    text-transform: capi;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 150%; /* establezco interlineado */
  }
  .call-to-action-b {
    text-decoration: none;
    color: #FF8066;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: white;
  }
  /* CÓDIGO DEL FOOTER*/
  footer {
    background-color: #54525e;
    color: #E0EEF0;
  }
  .text-footer {
    padding: 10px;
    font-size: 12px;
  }
  .redes {
    text-align: center;
    padding: 12px;
  }
  .redes a {
    text-decoration: none;
    text-align: center;
    color: #FF8066;
    font-size: 20px;
    letter-spacing: 16px;
  }
}
/* Ejecutar estas condiciones CSS para resoluciones de 480px hasta 1024*/
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #colorlogo {
    font-size: 20px;
    font-weight: 900;
    font-family: "poppins", sans-serif;
    color: #FF8066;
  }
  .img-banner {
    height: 400px;
    background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
    background-size: cover;
    filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
    background-position: center;
  }
  /* CÓDIGO call to action  */
  .contenedor-call {
    padding: 40px;
  }
  .call-to-action-a {
    text-transform: capi;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    line-height: 180%; /* establezco interlineado */
  }
  .call-to-action-b {
    text-decoration: none;
    color: #FF8066;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: white;
  }
  /* CÓDIGO DEL FOOTER*/
  footer {
    background-color: #54525e;
    color: #E0EEF0;
  }
  .text-footer {
    padding: 10px;
    font-size: 16px;
  }
  .redes {
    text-align: center;
    padding: 25px;
  }
  .redes a {
    text-decoration: none;
    text-align: center;
    color: #FF8066;
    font-size: 20px;
    letter-spacing: 16px;
  }
}
/* Ejecutar estas condiciones CSS para resoluciones desde 1024px* hasta 1680px*/
@media only screen and (min-width: 1024px) and (max-width: 1680px) {
  /* "logo" */
  #colorlogo {
    font-size: 20px;
    font-weight: 900;
    font-family: "poppins", sans-serif;
    color: #FF8066;
  }
  .img-banner {
    height: 400px;
    background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
    background-size: cover;
    filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
    background-position: center;
  }
  /* CÓDIGO call to action  */
  .contenedor-call {
    padding: 40px;
  }
  .call-to-action-a {
    text-transform: capi;
    font-family: Poppins;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 180%; /* establezco interlineado */
  }
  .call-to-action-b {
    text-decoration: none;
    color: #FF8066;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: white;
  }
  /* CÓDIGO DEL FOOTER*/
  footer {
    background-color: #54525e;
    color: #E0EEF0;
  }
  .text-footer {
    padding: 10px;
    font-size: 16px;
  }
  .redes {
    text-align: center;
    padding: 25px;
  }
  .redes a {
    text-decoration: none;
    text-align: center;
    color: #FF8066;
    font-size: 20px;
    letter-spacing: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
