.main-eventos{
    background-color: $color1;
    height: 100vhpx;
}

@mixin titles-principales{
    background-color: $color1;
    color: $color4weiss;
    font-family: $font-principal;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 35px;
    /* text-shadow: 1px 0px 12px; */
}

.title-eventos{
@include titles-principales;
}

.list-group{
padding: 20px;
}

.list-group-item{
    text-align: center;
}

.color5{
    background-color: $color5;
    color: $color4weiss;
}

.color6{
    background-color: $color6;
    color: $color4weiss;
}
/*transition*/
.evento1:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/da-vinci.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color:$color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento2:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/divina-comedia.webp);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color:$color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento3:hover{
    height: 250px;
    transition: 3s;
    background-image: url(..//img/el-eternauta.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento4:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/mas-alla-del-bien-y-del-mal-friedrich-nietzsche-.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento5:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/escarlata-sherlock.webp);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento6:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/morel-invention.png);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento7:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/pesadillas.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

.evento8:hover{
    height: 250px;
    transition: 3s;
    background-image: url(../img/autonautas-cosmopista_.jpg);
    background-size: cover;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-principal;
    color: $color4weiss;
    opacity: 0.9;
    box-shadow: 0 0 10px 10px $color4negro;
} 

