//CÓDIGO DEL FOOTER

footer{
    background-color: $color3;
    color:$color4weiss;
    font-weight: 700;
}

.text-footer{
    padding: 20px
}

.menu{
    height: 50px;
    margin: 0;
    padding: 0;
}

.redes{
    text-align: center;
    padding: 15px;

}

.redes a{
    text-decoration: none;
    text-align: center;
    color:$color1;
    font-size: 30px;
    letter-spacing: 25px;
}
