// TRABAJO CON EL HEADER 




// "logo" 
#colorlogo{
    font-size: 30px;
    font-weight: 700;
    font-family: $font-principal;
    color:$color1;
}

// imagen del banner y modificaciones
.img-banner{
    height: 400px;
    background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
    background-size: cover;
    filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
    background-position:center;
}

