// CÓDIGO DEL MAIN

.tamaño-main-index{
    height: 600px;
}

//CÓDIGO call to action

.contenedor-call{
    padding: 50px 120px 120px 120px;
}

.call-to-action-a{
    text-transform: capi;
    font-family: Poppins;
    font-weight: bold;
    font-size: 52px;
    text-align: center;
    line-height: 105%; /* establezco interlineado */
}

.call-to-action-a p{
    text-align: center;
}

.call-to-action-b{
    text-decoration: none;
    color: #101010;
    padding: 15px;
    font-family: poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: $color4weiss;
}

.call-to-action-b:hover{
    background-color: $color1;
    color:$color4weiss;
    transition: color 0.3s;
}

#contenedor-2{ 
    background-color: $color1 !important;
}

.card-text {
    font-family: $font-principal;
}

.card-title{
    font-family: $font-principal;
    font-weight: 600;
}
