/* ---------------------- INICIO MEDIA QUERIES ----------------------------------------*/ 


/*HASTA 480PX*/ 
@media (max-width: 480px) {

    header{
        height: 120px;
    }

/* "logo" */
    #colorlogo{
    font-size: 20px;
    font-weight: 900;
    font-family: roboto;
    color: $color4weiss;
    }

    .img-banner{
        height: 250px;
        background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
        background-size: cover;
        filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
        background-position:center;
    }

/* CÓDIGO frase  */
.contenedor-frase{
    padding: 20px 20px 20px 20px;
}

.frase{
    font-size: 12px;
}

.frase span{
    font-weight: bold;
    font-size: 14px;
}


/* CÓDIGO call to action  */
.contenedor-call{
    padding: 20px;
}

.call-to-action-a{
    text-transform: capi;
    font-family: Poppins;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    line-height: 150%; /* establezco interlineado */
}

.call-to-action-b{
    text-decoration: none;
    color: $color4negro;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: $color4weiss;
}


/* CÓDIGO DEL FOOTER*/
footer{
    background-color: $color3;
    color: #E0EEF0;
}

.text-footer{
    padding: 10px;
    font-size: 12px;
}


.redes{
    text-align: center;
    padding: 12px;
}

.redes a{
    text-decoration: none;
    text-align: center;
    color:$color1 ;
    font-size: 20px;
    letter-spacing: 16px;
}
}

#title-tienda{
    font-size: 22px;
}





/*HASTA 1200*/ 
@media (max-width: 1200px) {
    header{
        height: 60px;
    }

/* "logo" */
    #colorlogo{
    font-size: 20px;
    font-weight: 900;
    font-family: roboto;
    color: $color4weiss;
}

    .img-banner{
        height: 400px;
        background-image: url(../img/pexels-polina-zimmerman-3747468.jpg);
        background-size: cover;
        filter: grayscale(620%); /*filtro grayscale para img en black_and_white*/
        background-position:center;
    }

/* CÓDIGO frase  */
.contenedor-frase{
    padding: 40px 40px 40px 40px;
}

.frase{
    font-size: 16px;
}

.frase span{
    font-weight: bold;
    font-size: 16px;
}


/* CÓDIGO call to action  */
.contenedor-call{
    padding: 40px 40px 40px 40px;
}

.call-to-action-a{
    text-transform: capi;
    font-family: Poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: right;
    line-height: 180%; /* establezco interlineado */
}

.call-to-action-b{
    text-decoration: none;
    color: $color4negro;
    padding: 10px;
    font-family: poppins;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    background-color: $color4weiss;
}


/* CÓDIGO DEL FOOTER*/
footer{
    background-color: $color3;
    color: #E0EEF0;
}

.text-footer{
    padding: 10px;
    font-size: 16px;
}


.redes{
    text-align: center;
    padding: 25px;
}

.redes a{
    text-decoration: none;
    text-align: center;
    color:$color1 ;
    font-size: 20px;
    letter-spacing: 16px;
}
}

#title-tienda{
    font-size: 24px;
}


/* ---------------------- FIN MEDIA QUERIES ----------------------------------------*/ 