
#container-fluid-tienda{
    background-color:$color1;
}

@mixin titles-principales{
    background-color: $color1;
    color: $color4weiss;
    font-family: $font-principal;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 35px;
    /* text-shadow: 1px 0px 12px; */
}

.title-tienda{
@include titles-principales;
}

#title-tienda{
    color: $color4weiss;
    font-family: poppins;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 35px;
    /* text-shadow: 1px 0px 12px; */
}

.card{
    margin: 20px;
    box-shadow: 10px 4px 5px #48529944; /*para sombra  caja cards*/
    width:280px;
}

.orden-fila{
    justify-content: center;
}

.img-css-dos{
    height: 326px;
}

.btn-primary{ /*modificación sobre class btn-primary Bts*/
    background-color:$color1;
    border: none;
}
