//variables para colors usados en el proyecto:
$color1:#FF8066;
$color2:#6252C6;
$color3:#54525e;
$color4weiss:#ffff;
$color4negro:#0000;
$color5:#023047;
$color6:#219ebc;

//variables fonts usadas en el proyecto:
$font-principal: "poppins", sans-serif;
